<header>
  <h1>Embrace Serenity, Revel in Comfort.</h1>
</header>

<div class="availability_search_form">
<mat-form-field>
    <mat-label>Check-in Date</mat-label>
    <input matInput [matDatepicker]="picker1" #dateIn>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <mat-label>Check-out Date</mat-label>
    <input matInput [matDatepicker]="picker2" #dateOut>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" (click)="navigateToSearchResults(dateIn.value,dateOut.value)">Search<mat-icon>search</mat-icon></button>
</div>

<!-- All Rooms list -->
<div class="content">
    <mat-card class="example-card" *ngFor="let roomType of roomTypes">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{roomType.name}}</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src={{roomType.imageUrl}} alt="Photo of room" height="420px">
        <mat-card-content>
          <p>
           {{roomType.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Book Now</button>
        </mat-card-actions>
      </mat-card>      
</div>
  
  
