@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

header{
  background-image: url('../../assets/images/hero.jpeg');
  height:55%;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-family: 'Beth Ellen', cursive;
  font-size: 2rem;
}
.example-card {
    max-width: 650px;
    margin:2rem
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .content{
    display: flex;
    padding: 3rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  mat-card-content .description{
    display:flex;
    justify-content: center;
  }